
.bot{
    position: absolute;
    bottom: 0;
    width: 50%;
    right: 0;
    padding: 15px;
    height: 500px;
    background-color: #e6eaea;
}

.card-header{
    width: 100%;
    height: 60px;
    background: #f5f5f5;
}

.message-input{
    width: 84%;
    height: 40px;
}

.card-footer{
  padding: 0;
  height:40px;
}

.sent{
    border:1px solid green;
    padding: 15px;
    background-color: #435f7a;
    color: #e6eaea;
        
}